<!doctype html>
<html lang="en">
    <head>
        [[template "header"]]
        <title>Game: [[.Code]] - Three Names in a Hat</title>
    </head>
    <body>
        <div class="paper container text-center margin-top">
            <div id="game" data-code="[[.Code]]">
                <div v-if="error" v-cloak>
                    <div class="alert alert-danger">{{error}}</div>
                    <a class="paper-btn btn-large" href="/game/[[.Code]]">
                        Try Again
                    </a>
                </div>
                <form v-else-if="!game" @submit.prevent="join">
                    <div class="form-group large">
                        <label for="playerName">Enter your name:</label>
                        <input class="input-block"
                            v-model="playerName"
                            v-focus
                            type="text"
                            id="playerName">
                        <p v-if="playerNameErr" v-cloak class="text-danger">{{playerNameErr}}</p>
                    </div>
                    <button type="submit" class="btn-large"
                        :disabled="loading"
                        :class="{'loading':loading}">Join</button>
                </form>
                <div v-else-if="settings" v-cloak>
                    <h2>Number of names from each player</h2>
                    <div class="row flex-center">
                        <div class="col-2 col"><h1>{{game.namesPerPlayer}}</h1></div>
                        <div class="col-2 col">
                            <button @click="setNamesPerPlayer(1)"
                                class="btn-large margin-bottom">&#9650;</button>
                            <button @click="setNamesPerPlayer(-1)"
                                class="btn-large">&#9660;</button>
                        </div>
                    </div>

                    <button class="btn-large margin-top"
                        @click="settings=false">Return</button>
                </div>
                <div v-else v-cloak>
                    <div v-if="game.stage=='pregame'">
                        <button v-if="leader"
                            @click="settings=true"
                            class="btn-settings">
                            [[template "gear"]]
                        </button>
                        <h2>Enter the Code below to join</h2>
                        <h1 id="gameCode"><strong>{{code}}</strong></h1>
                        <div v-if="canStart">
                            <button v-if="leader"
                                @click="startGame"
                                :disabled="loading"
                                :class="{'loading':loading}"
                                class="btn-large btn-success">
                                Start the Game if everyone is ready
                            </button>
                            <div v-else class="alert alert-primary">
                                Waiting for the game to start
                            </div>
                        </div>
                        <div v-else class="alert alert-primary">
                            Waiting until each team has at least 2 players
                        </div>
                        <div>
                            <button class="paper-btn margin btn-secondary"
                                :disabled="loading"
                                @click="send('switchteams')">
                                Switch Teams
                            </button>
                            <div class="row flex-center">
                                <div class="col-5 col border border-6
                                    border-primary">
                                    <h3>Team 1</h3>
                                    <p v-for="player of game.team1.players"
                                        key="player.name"
                                        class="list-name"
                                        :class="{'highlight': player.name === playerName}">
                                        {{player.name}}
                                        <span v-if="player.name === game.leader.name" class="badge">leader</span>
                                    </p>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-5 col border border-3
                                    border-primary">
                                    <h3>Team 2</h3>
                                    <p v-for="player of game.team2.players"
                                        key="player.name"
                                        :class="{'highlight': player.name === playerName}"
                                        class="list-name">
                                        {{player.name}}
                                        <span v-if="player.name === game.leader.name" class="badge">leader</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- pregame -->
                    <div v-if="game.stage=='setup'">
                        <div v-if="game.timer.left> 0" v-cloak class="progress margin-top margin-bottom">
                            <div class="bar" :class="timerStyle" :style="{width: timerPercent + '%'}"></div>
                        </div>
                        <div v-if="namesLeft >= 1">
                            <h3 v-if="namesLeft === game.namesPerPlayer">Please enter {{namesLeft}} names</h3>
                            <h3 v-else-if="namesLeft === 1">Please enter 1 more name</h3>
                            <h3 v-else>Please enter {{namesLeft}} more names</h3>
                            <form @submit.prevent="submitName">
                                <div class="form-group large">
                                    <p>Pick a name everyone in the game would recognize</p>
                                    <!-- TODO: add more hints as timer ticks -->
                                    <input class="input-block"
                                        v-model="addName"
                                        v-focus
                                        type="text"
                                        id="addName">
                                    <button type="submit" class="btn-large margin-top">Add</button>
                                </div>
                            </form>
                        </div>
                        <div v-else class="alert alert-primary">
                            Waiting for the other players to finish adding names
                        </div>
                        <div v-if="namesLeft !== game.namesPerPlayer" class="border border-3 border-primary text-left
                            padding-large margin-large">
                            <p v-for="name of player.names" class="list-name" key="name">
                                <button class="paper-btn margin-right" @click="removeName(name)">X</button>
                                {{name}}
                            </p>
                        </div>

                    </div> <!-- setup -->
                    <div v-if="game.stage=='playing'">
                        <h1>Round {{game.round}}</h1>
                        <div v-if="game.timer.left> 0" v-cloak class="progress margin-top margin-bottom">
                            <div class="bar" :class="timerStyle" :style="{width: timerPercent + '%'}"></div>
                        </div>

                        <div class="row flex-center">
                            <div class="col-5 col border border-6 border-primary">
                                <h3>Team 1</h3>
                                <p class="list-name">{{game.team1Score}}</p>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5 col border border-3 border-primary">
                                <h3>Team 2</h3>
                                <p class="list-name">{{game.team2Score}}</p>
                            </div>
                        </div>

                        <div v-if="game.clueGiver.name === playerName">
                            <h2 class="text-secondary">{{currentName}}</h2>
                            <button v-if="currentName && game.timer.left" class="btn-large"
                                @click="send('nextname')">Next Name</button>
                            <button v-else class="btn-large btn-success" @click="send('startturn')">Start</button>
                        </div>
                        <div v-else>
                            <h3>It is {{game.clueGiver.name}}'s turn</h3>
                            <p v-if="isGuessing">When the timer starts, try to guess the name.</p>
                            <p v-else>Wait for your team's turn</p>
                        </div>
                    </div> <!-- playing -->
                    <div v-if="game.stage=='end'">
                        <h1>Game Over</h1>
                        <!-- TODO: Team whatever won, game stats, play again, etc -->
                    </div>
                </div>
            </div><!-- game -->
        </div>
        [[template "footer"]]

        <script src="/js/vue.min.js"></script>
        <script src="/js/game.js"></script>
    </body>
</html>