# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.cover

*node_modules*
*.vscode*
*npm-debug.log*
*yarn-error.log*

# development directories
files/assets/*

# built executable
threenamesinahat