[v-cloak] {display: none}

.page-footer {
    text-align: center;
	width: 100%;
    position: relative;
	height: 60px;
	display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.page-footer > * {
    margin-right: 1rem;
    text-decoration: none;
    background: none;
}

.player-name {
    font-size: 2rem;
}

input.input-large {
    font-size: 2rem;
}

.btn-large.loading {
    color: white;
}

@keyframes loading {
    to {transform: rotate(360deg);}
}

input.game-code {
    text-transform: uppercase;
}

.loading:before {
    content: '';

    border-top-left-radius: 185px 160px;
    border-top-right-radius: 200px 195px;
    border-bottom-right-radius: 160px 195px;
    border-bottom-left-radius: 185px 190px;

    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0,0,0,0.2);
    transition: all 235ms ease-in-out 0s;
    align-self: center;
    background: transparent;
    border: 6px solid #41403e;

    color: #41403e;
    display: inline-block;
    /* font-size: 1rem; */
    outline: none;
    padding: 0.75rem;

    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2.1rem;
    margin-left: -1rem;
    animation: loading .6s linear infinite;

    border-top-color: #000;
}