/* 
Copyright 2020 Tim Shannon. All rights reserved.
Use of this source code is governed by the MIT license
that can be found in the LICENSE file.
*/

[v-cloak] {display: none}

.game-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: auto;
    
    /* papercss default border */
    border: 2px solid #41403e;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    max-width: 768px;
    max-height: 1024px;
    margin: auto;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-footer > * {
    margin-right: 1rem;
    text-decoration: none;
    background: none;
}

.text-medium {
    font-size: 1.5rem;
}

.form-group.large input {
    font-size: 2rem;
}

.form-group.large label {
    font-size: 2rem;
}

.btn-large.loading {
    color: white;
}

@keyframes loading {
    to {transform: rotate(360deg);}
}

input.game-code {
    text-transform: uppercase;
}

.loading:before {
    content: '';

    border-top-left-radius: 185px 160px;
    border-top-right-radius: 200px 195px;
    border-bottom-right-radius: 160px 195px;
    border-bottom-left-radius: 185px 190px;

    box-shadow: 15px 28px 25px -18px rgba(0,0,0,0.2);
    transition: all 235ms ease-in-out 0s;
    align-self: center;
    background: transparent;
    border: 6px solid #41403e;

    color: #41403e;
    display: inline-block;
    /* font-size: 1rem; */
    outline: none;
    padding: 0.75rem;

    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2.1rem;
    margin-left: -1rem;
    animation: loading .6s linear infinite;

    border-top-color: #000;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.btn-settings {
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.btn-settings:hover, .btn-settings:focus {
    box-shadow: none;
}

.border-right-heavy {
    border-bottom-right-radius: 225px 15px;
    border-right: 6px solid #41403e;
}

.score-board > .col {
    padding: .5rem;
}

.score-board .item {
    overflow: hidden;
}

.score-board .paper-btn {
    margin: 0 1rem 0 1rem;
}

.team-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.w-100 {
    width: 100%;
}


.stage-change-enter-active, .stage-change-leave-active {
    transition: all .2s ease;
    transform-style: preserve-3d;
}

.stage-change-enter  {
    transform: translateX(100%);
}
.stage-change-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.notification {
    transition: opacity 235ms ease-in-out 0s;
    background: rgba(0,0,0,.6);
    bottom: 0;
    flex: 1 1 auto;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    word-wrap: break-word;
    z-index: 12;
    padding: 1rem;
}