.page-footer {
    text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 60px;
	display: flex;
    justify-content: center;
}

.page-footer > * {
    margin-right: 1rem;
    text-decoration: none;
    background: none;
}